html{
	background:orange;
}
body{
	width:900px;
	margin:0 auto;
}
header{
	text-align:center;
}
#main{
	display:table;
	width:100%
}
#disclaimer{
	display:table-cell;
	width:300px;
	padding:0 10px;
	background:#ccc;
	vertical-align: top;
}
#app{
	display:table-cell;
	background:#333;
	color:#fff;
	position:relative;
	padding:20px;
	color:orange;
}
	#output{
		border:1px dashed orange;
		color:#fff;
		min-height:210px;
		padding:20px;
		margin-bottom:10px
	}
	#log{
		border:1px dashed red;
		color:red;
		padding:0 20px;
		font-size:12px;	
		/*max-height:100px;
		overflow-y:scroll;*/

	}
	fieldset{
		border:1px dashed white;
		color:white;
		margin-bottom:20px
	}