html{
	background:orange;
}
body{
	width:900px;
	margin:0 auto;
}
header{
	text-align:center;
}
#main{
	display:table;
	width:100%
}
#disclaimer{
	display:table-cell;
	width:300px;
	padding:0 10px;
	background:#ccc;
	vertical-align: top;
}
#app{
	display:table-cell;
	background:#333;
	color:#fff;
	position:relative;
	padding:20px;
	color:orange;
}
	#output{
		border:1px dashed orange;
		color:#fff;
		min-height:200px;
	}
	fieldset{
		border:1px dashed orange;
	}